<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Add Game</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="game.name" name="name" class="form-control" placeholder="Game name">
                    <font *ngIf="nameEmpty" color="red">
                      <small>Name can't be empty !</small>
                    </font>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Developer</label>
                    <input type="text" [(ngModel)]="game.developer" name="developer" class="form-control" placeholder="Game developer">
                    <font *ngIf="devEmpty" color="red">
                      <small>Developer field can't be left empty !</small>
                    </font>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Genre</label>
                    <select class="form-control" [(ngModel)]="game.genre" name="genre">
                      <option value="MMOG">MMOG</option>
                      <option value="MMORPG">MMORPG</option>
                      <option value="RPG">RPG</option>
                    </select>
                    <font *ngIf="genreEmpty" color="red">
                      <small>Please pick a genre </small>
                    </font>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Fee</label>
                    <select class="form-control" [(ngModel)]="game.fee" name="fee">
                      <option value="free">Free</option>
                      <option value="Item Mall">Item Mall</option>
                      <option value="$">Paid</option>
                    </select>
                    <font *ngIf="feeEmpty" color="red">
                      <small>Please choose the fee</small>
                    </font>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Picture Url</label>
                    <input type="text" class="form-control" [(ngModel)]="game.picurl" name="picurl" placeholder="Game picture URL">
                    <font *ngIf="picEmpty" color="red">
                      <small>Please add a picture URL</small>
                    </font>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Embed Trailer Url</label>
                    <input type="text" [(ngModel)]="game.trailerurl" name="trailerurl" class="form-control" placeholder="Embed trailer URL">
                  </div>
                </div>
              </div>


              <button type="button" (click)="add(game.name, game.developer, game.genre, game.fee, game.picurl, game.trailerurl)" class="btn btn-info btn-fill pull-right">Save</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="https://www.walldevil.com/wallpapers/a21/beautiful-game-design-background-art-games-vector.jpg" alt="..." />
          </div>
          <div class="content">
            <div class="author">
              <img class="avatar border-gray" src="{{game.picurl}}" alt="..." />

              <h4 class="title">Name :
                <small>{{game.name}}</small>
              </h4>
              <h4 class="title">Developer :
                <small>{{game.developer}}</small>
              </h4>
              <h4 class="title">Genre :
                <small>{{game.genre}}</small>
              </h4>
              <h4 class="title">Fee :
                <small>{{game.fee}}</small>
              </h4>
              <hr>
              <iframe [src]="this.sanitizer.bypassSecurityTrustResourceUrl(game.trailerurl)" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>